/*Base style*/
body{   
        font-family: 'Titillium Web', sans-serif; 
        margin: 0;
    }
a{  text-decoration: none;}

h1, h2, h3, h4, h5, p{color: #fff; padding-bottom: 30px;}

.button{padding: 18px 28px; background: #e10600; color: white; display: inline-block; border-radius: 7px;}
.big-text{font-size: 60px; font-weight: 600;}
.med-text{font-size: 40px; margin: 0%; font-weight: 600;}
.nor-text{font-size: 20px;}
.intro-text{text-transform: uppercase; font-size: 20px; font-weight: bold;}


@media (max-width: 768px) {
  .big-text{font-size: 40px;}
  .med-text{font-size: 30px;}
}

/*Header*/
.header{
    width: 100%;
    position:fixed;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px;
    display: flex;
}

.logo{
    padding-top: 25px;
}

.menu{    
    width: 100%;
}

.menu li{display: inline-block; }
.menu li a{color: #fff; padding: 15px; display: block;}

.hamburger{display: none;}

@media (max-width: 768px) {
    .logo{
        padding-left: 20px;
    }
    .header{
        padding: 0;
        z-index: 1;
    }
  .menu{position: absolute; top: 0; right: -100%; background: #e10600;
margin: 0; height: 100vh;
transform: translateX(0%);
padding-top: 50px;
z-index: 1;
}

.menu li{display: block;}

.menu--open{right:0%}

.hamburger{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 100;
    top: 40px;
    right: 40px;
}

.hamburger span{
    background: white;
    height: 3px;
    width: 100%;
    z-index: 100;
    display: block;
    margin-bottom: 5px;
}
}


/* Hero */

.hero{
    
    height: 100vh;
    display: flex; width: 100%; align-items: center;
    background:  linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.8) ),
    url('singa1.jpg') center;
    background-size: cover;
}


.hero__content{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 30px;
}

.hero__content > p:first-of-type {
    color: red;
  }


/* Poster*/
.poster{
    height: 90vh;
    background:  linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.8) ),
    url('austria1.jpg') bottom;
    background-size: cover;
    align-items: center;
    text-align: center;
}

.poster__content{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

@media (max-width: 768px) {
  .poster {flex-wrap:wrap;}
  .poster__content{width: 100%; }
}

/*Classifica*/
.classifica{
    width: 100%;
    display: flex;
    margin-top: 150px;
    height: 100vh;
    justify-content: space-between;
}

.piloti{
    display: block;
    float: left;
    width: 50%;
    padding-left: 30px;
}

.costruttori{
    display: block;
    float: right;
    width: 50%;
    padding-left: 30px;
}

.soloclassifica{
    background: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.8) ),
    url('spa1.jpg') center;
    background-size: cover;
}

.solostatistiche{
    background: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.8) ),
    url('monza2019.jpg') center;
    background-size: cover;
}

.soloinfo{
    background: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.8) ),
    url('Bahrain1') center;
    background-size: cover;
}

@media (max-width: 768px) {
  .classifica{
    display: block;
  }
  .piloti, .costruttori{width: 100%;}
}

/*Stile della colonna delle posizioni */
.piloti th:first-child,
.piloti td:first-child {
    width: 80px; /* Imposta la larghezza desiderata*/
}


/* Intro Stat */
.intro{
    height: 30vh;
    display: flex;
    align-items: end;
    width: 100%;
    max-width: 1300px;
    margin-top: 5%;
    padding: 0 30px;
}

/* Carousel*/
.main-carousel{
    height: 80vh;
    padding: 40px 0;
}

.carousel-cell{
    background: #e10700;
    height: 250px;
    width: 250px;
    border-radius: 100%;
    line-height: 250px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    margin-right: 40px;
    cursor: pointer;
}


/* ! Tabella in sovraimpressione */
#table-container{
    display: none;
}

#table-container.show{
    display:block;
    position: absolute;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff;
    background-color: red;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
}



.close-btn{
    display: none;
}

.close-btn.show {
    display: block;
    position: absolute;
    top: 10px;
    right: 100px;
    cursor: pointer;
    height: 40px;
    font-size: 40px;
    color: #fff;
    z-index: 3;
    /* Altri stili per l'icona X (colore, spaziatura, ecc.)*/
  }

  @media (max-width: 768px) {
    .main-carousel{
        z-index: 0;
    }
    .carousel-cell{
        height: 200px;
        width: 200px;
        line-height: 200px;
        z-index: 0;
    }
    #table-container.show{
        width: 90%;
        height: 90%;
        overflow-y: auto;
        overflow-x: auto;
    }
    .table{
        width: 100%;
        height: auto;

    }
    .close-btn.show{
        top: 3px;
        right: 20px;
    }
  }



/*Overlay*/
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Assicurati che lo z-index sia superiore a quello della tabella */
    background-color: rgba(0, 0, 0, 0.5); /* Cambia il valore per regolare l'opacità */
    display: none; /* Inizialmente nascosto */
  }





/*Tabelle*/
.table{
    background: #e10700b2;
    border-collapse: collapse;
    width: 70%;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: auto;
}




*,
*::before,
*::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -box-sizing: border-box;

}